{% extends 'base.html' %}
{% block title %}
    <h1>Criar perfil</h1>

{% endblock title %}

{% block content %}
    <form id="aula" action="{% url 'aula:perfil_class_create' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-outline-success btn-lg" form="aula" value="Salvar">
        <i class="bi bi-floppy"></i> Salvar
    </button>

    <button type="reset" class="btn btn-outline-danger btn-lg" form="aula" value="Reset">
        <i class="bi bi-arrow-clockwise"></i> Limpar
    </button>

    <a class="btn btn-outline-light btn-lg" role="button" href="{% url 'aula:perfil_class_list' %}">
        <i class="bi bi-arrow-left"></i> Voltar
    </a>
</form>
{% endblock content %}
