{% extends 'base.html' %}

  {% block title %}
    {% if perfils %}
      <h1>Lista de Exemplos</h1>
    {% else %}
      <h1>Nenhum exemplo cadastrado</h1>
    {% endif %}

  {% endblock title %}

  {% block content %}

  {% if perfils %}
  <div>
    {% if perms.aula.add_perfil %}
      <a class="btn btn-outline-success btn-lg"
        data-bs-toggle="tooltip" data-bs-placement="top"
        title="Adicionar novo perfil"
        href="{% url 'aula:perfil_class_create' %}">
        <i class="bi bi-plus-circle"></i>
      </a>
    {% endif %}
  </div>
    <table class ="table table-hover">
      <thead>
        <th>#</th>
        <th>Código</th>
        <th>Nome</th>
        <th>Opções</th>
      </thead>
      <tbody>
      {% for perfil in perfils %}
        <tr>
          <td>{{ perfil.id }}</td>
          <td>{{ perfil.id }}</td>
          <td>{{ perfil.id }}</td>
          <td>
            <div>
              {% if perms.aula.view_perfil %}
                <a class="btn btn-outline-secondary btn-lg" role="button"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Detalhar com funções"
                      href="{% url 'aula:perfil_class_read' perfil.id %}">
                  <i class="bi bi-eye"></i></a>
              {% endif %}
              {% if perms.aula.update_perfil %}
                <a class="btn btn-outline-secondary btn-lg" role="button"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Atualizar"
                      href="{% url 'aula:perfils_function_update' perfil.id %}">
                    <i class="bi bi-pencil-square"></i></a>
              {% endif %}

              {% if perms.aula.delete_perfil %}
                <a class="btn btn-outline-secondary btn-lg"
                  role="button"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Deletar"
                  href="{% url 'aula:perfil_class_delete' perfil.id %}">
                  <i class="bi bi-trash"></i>
                </a>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock content %}
